# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dentalos

# App
PORT=4000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development

# eSewa (Sandbox)
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_URL=https://rc-epay.esewa.com.np

# Khalti (Sandbox)
KHALTI_SECRET_KEY=your_test_secret_key_from_test-admin.khalti.com
KHALTI_BASE_URL=https://dev.khalti.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hellruler80@gmail.com
SMTP_PASS=huiw otir ucin iaey

SMTP_FROM=ClinicKarobar <info@clinickarobar.com>
